.nav-bar-option{
  font-size: 14px;
  font-family: 'Lora', serif;
  background-color: inherit;
  color: #ece0d1;
  border: none;
  border-radius: 6px;
  transition:
  background-color 0.3s,
  color 0.3s;
}

.nav-bar-option:hover{
  background-color: #ece0d1;
  color: #38220f;
  cursor: pointer;
}
