.nav-bar-container{
  background-image: linear-gradient(#967259, #634832);
  color: #ece0d1;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 800px;
  margin: 0 auto;
}

.nav-bar-left-section{
  display: flex;
  align-items: center;
}

.nav-bar-logo{
  display: flex;
  align-items: center;
  padding: 0px 15px;
}

.nav-bar-logo:hover{
  cursor: pointer;
}

.nav-bar-logo > div {
  font-size: 17px;
  font-weight: 500;
}

.nav-bar-logo > img {
  width: 45px;
  object-fit: cover;
  margin-bottom: 10px;
}

.nav-bar-left-option-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 12px;
}

.nav-bar-left-option{
  font-size: 14px;
  margin: 0 5px;
  padding: 2px;
  border-radius: 6px;
  transition:
  background-color 0.3s,
  color 0.3s;
}

.nav-bar-left-option:hover{
  background-color: #ece0d1;
  color: #38220f;
  cursor: pointer;
}

.nav-bar-right-section{
  display: flex;
  align-items: center;
}

.nav-bar-right-option-container{
  display: flex;
  align-items: center;
  padding: 0 6px;
}

/* .nav-bar-right-option{
  font-size: 14px;
  margin-right: 7px;
  padding: 2px;
  border-radius: 6px;
  transition:
  background-color 0.3s,
  color 0.3s;
}

.nav-bar-right-option:hover{
  background-color: #ece0d1;
  color: #38220f;
  cursor: pointer;
} */

.profile-dropdown-container{
  /* background-color: red; */
  position: relative;
}

.profile-button{
  display: flex;
  align-items: center;
  margin: 0 18px;
  background-color:#ece0d1;
  border: none;
  border-radius: 6px;
  padding: 5px;
  color: #38220f;
  font-size: 14px;
  font-weight: bold;
}

.profile-button:hover{
  cursor: pointer;
  box-shadow: 0px 0px 10px #ece0d1;
}

.profile-button-item{
  padding: 2px 5px;
}

.profile-dropdown{
  position: absolute;
  padding: 10px;
  background-color: #38220f;
  color: #ece0d1;
  top: 18px;
  right: 17px;
  border-radius: 6px;
  width: 170px;
  z-index: 100;
}

.profile-dropdown-options{
  /* background-color: red; */
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.profile-dropdown-info{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #967259;
  border-radius: 2px;
  color: #ece0d1;
  padding: 0 10px;
  overflow: scroll;
}

.profile-dropdown-option{
  margin: 4px auto;
  padding: 3px 2px;
  font-size: 15px;
  /* background-color: red; */
}

.manage-option:hover{
  text-shadow: 0px 0px 10px #ece0d1;
  cursor: pointer;
  /* background-color: red; */
}

.log-out-button{
  font-family: 'Lora', serif;
  font-size: 15px;
  background-color: #967259;
  color: #ece0d1;
  border: none;
  margin: 6px 0;
  padding: 3px 2px;
  border-radius: 5px;
}

.log-out-button:hover{
  opacity: 0.7;
  cursor: pointer;
}

.hidden {
  display: none;
}
