.signup-form-modal.signup-nav{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  padding: 15px;
  background-color: #ece0d1;
  color: #38220f;
  border-radius: 20px;
}

.signup-form-modal.signup-home{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 230px;
  padding: 15px;
  background-color: #634832;
  color: hsl(33, 42%, 87%);
  border-radius: 20px;
  border: 3px solid #ece0d1;
  margin-top: -100px;
}

.signup-heading{
  margin: 5px 0;
  font-size: 25px;
  font-weight: 600;
}

.signup-home-subheading{
  font-size: 12px;
  margin: 5px 0px 10px;
}

.signup-form{
  display: flex;
  flex-direction: column;
  width: 95%;
}

.signup-section-container.signup-nav{
  /* background-color: lemonchiffon; */
  display: flex;
  flex-direction: column;
}

.signup-section-container.signup-home{
  /* background-color: lemonchiffon; */
  display: flex;
  flex-direction: column;
  height: 60px;
}

.signup-label-container.signup-nav{
  display: flex;
  align-items: center;
  /* background-color: lightgreen; */
  justify-content: space-between;
  font-size: 14px;
  margin: 10px 0 2px 0;
}

.signup-label-container.signup-home{
  display: flex;
  align-items: center;
  /* background-color: lightgreen; */
  justify-content: space-between;
  font-size: 14px;
  margin: 2px 0;
}

.signup-field{
  font-family: 'Lora', serif;
}

.signup-error{
  color: red;
  font-size: 12px;
}

.signup-bottom-row{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15px 5px 10px;
  /* background-color: lightblue; */
}

.signup-bottom-button-row{
  /* background-color: red; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  width: 100%;
}

.signup-submit.signup-nav{
  font-family: 'Lora', serif;
  padding: 5px 10px;
  border: none;
  background-color: #38220f;
  color: #ece0d1;
  border-radius: 5px;
}

.signup-submit.signup-home{
  font-family: 'Lora', serif;
  padding: 5px 10px;
  border: none;
  background-color: #967259;
  color: #ece0d1;
  border-radius: 5px;
  margin: 0px auto 10px;
}

.signup-submit:hover{
  opacity: 0.7;
  cursor: pointer;
}

.signup-tips{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 35px 0 10px;
  font-size: 12px;
  border: 2px #38220f solid;
  border-radius: 10px;
  padding: 3px 10px;
}

.signup-tip-label{
  font-weight: 600;
  margin: 5px 0;
}

.signup-tip{
  margin: 5px 0;
}
