.tea-details-container{
  max-width: 765px;
  margin: 0 auto;
  color: #38220f;
}

.tea-details-banner{
  width: 100%;
  height: 120px;
  object-fit: cover;
  filter: brightness(40%);
  position: absolute;
}

.tea-details-banner-row{
  position: relative;
}

.tea-details-name{
  position: absolute;
  font-size: 30px;
  color: #ece0d1;
  top: 25px;
  left: 165px;
}

.tea-details-company{
  position: absolute;
  font-size: 14px;
  color: #ece0d1;
  top: 80px;
  left: 170px;
}

.tea-details-image{
  position: absolute;
  width: 150px;
  height: 150px;
  object-fit: cover;
  top: 45px;
}

.tea-details-score-row-container{
  /* background-color: red; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.tea-details-score-row{
  display: flex;
  align-items: center;
  /* background-color: lavender; */
  width: 57%;
}

.tea-details-score-row-left{
  position: relative;
  display: flex;
}

.tea-details-score-num{
  position: absolute;
  font-size: 21px;
  font-weight: 500;
  color: #ece0d1;
  top: 24px;
  left: 25px;
  z-index: 1;
}

.tea-details-score-kettle{
  width: 70px;
  height: 70px;
  filter: invert(11%) sepia(45%) saturate(925%) hue-rotate(347deg) brightness(96%) contrast(91%);
}

.tea-details-score-row-right{
  display: flex;
  flex-direction: column;
  margin-left: 15px;
}

.tea-details-score-label-top{
  /* background-color: orange; */
  font-size: 15px;
  font-weight: bold;
}

.tea-details-score-label-bottom{
  /* background-color: aqua; */
  display: flex;
  align-items: center;
}

.tea-details-num-notes{
  padding: 0 10px 0 0;
  border-right: 1px solid rgba(56, 34, 15, 0.5);
  font-size: 15px;
  margin: 2px 0;
}

.tea-details-create-note{
  padding: 0 0 0 10px;
  font-size: 15px;
  color: blue;
}

.tea-details-main-row{
  padding-top: 120px;
}

.tea-details-info-row{
  /* border: 1px solid red; */
  margin: 35px auto 35px;
  display: grid;
  grid-template-columns: 150px 1fr;
  row-gap: 5px;
}

.tea-details-info-label{
  font-weight: bold;
  font-size: 13px;
  justify-self: flex-end;
  /* background-color: lightgreen; */
}

.tea-details-info-information{
  font-size: 13px;
  margin-left: 12px;
  font-weight: 500;
  /* background-color: lightcoral; */
}

.tea-details-company-row{
  border-top: 1px solid rgba(56, 34, 15, 0.5);
  padding: 30px 0;
}

.tea-details-notes-row{
  border-top: 1px solid rgba(56, 34, 15, 0.5);
  padding: 30px 0;
}
