.delete-tea-modal{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 350px;
  padding: 15px;
  background-color: #ece0d1;
  color: #38220f;
  border-radius: 20px;
}

.delete-tea-content{
  display: flex;
  flex-direction: column;
  width: 95%;
  text-align: center;
}

.delete-tea-heading{
  margin: 5px 0;
  font-size: 25px;
  font-weight: 600;
}

.delete-tea-button-row{
  display: flex;
  justify-content: center;
  margin: 10px;
}

.delete-tea-button{
  font-family: 'Lora', serif;
  padding: 6px 12px;
  border: none;
  background-color: #38220f;
  color: #ece0d1;
  border-radius: 5px;
  margin: 0 15px;
}

.delete-tea-button:hover{
  opacity: 0.7;
  cursor: pointer;
}
