.tea-index-body{
  /* background-color: lightblue; */
  max-width: 800px;
  margin: 0 auto;
  padding: 25px 0px;
}

.tea-index-heading{
  font-size: 20px;
  font-weight: 600;
  margin: 0 24px;
}

.tea-index-subheading{
  font-size: 13px;
  font-weight: 400;
  margin: 10px 24px 30px;
}

.tea-index-grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 7px;
  row-gap: 20px;
  align-items: start;
  justify-items: center;
}

@media screen and (max-width: 700px) and (min-width: 531px) {
  .tea-index-grid{
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 530px) {
  .tea-index-grid{
    grid-template-columns: 1fr 1fr;
  }
}
